@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --fontTamTitle: 38px;
    --fontTamText: 18px;
    --fontTitle: 'Fascinate', cursive, sans-serif;
    --fontText:'Open Sans', sans-serif;
    --color1ThemeLigth: #7F96FF;
    --color2ThemeLigth: #E56399;
    --color3ThemeLigth: #ECEBF3;
    --color1ThemeDark: #FFFFFF;
    --color2ThemeDark: #E56399;
    --color3ThemeDark: #333745;
}

main {
    margin-top: 50px;
    max-width: 1320px;
    max-height: 980px;
   
}

body {
    background-color: var(--color3ThemeLigth);
}

.title {
    text-align: center;
    font-size: var(--fontTamTitle);
    font-family: var(--fontTitle);
    color: var(--color1ThemeLigth);
    
}

p {
    font-size: var(--fontTamText);
    font-family: var(--fontText);
    color: var(--color3ThemeDark);
}



main .container-fluid{
    min-width: 360px !important;
    width: 860px !important;
    min-height: 400px !important;
    height: 600px !important;
    
}

.w-100{
    border-radius: 10px !important;
    
}

.accordion button{
    color: var(--color2ThemeDark) !important;
    font-weight: bolder !important;
    font-family: var(--fontTamText) !important;
}

@media (max-width:800px) {
    .title{
        margin-top: 32px;
        font-size: 26px;
    }
    
}