* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
    --fundo-menu: #e83706;
    --fundo: #182325;
    --fundo-light: #f1faee;
    --texto: #8fafb7;
    --texto-menu-light: #231942;
    --texto-menu: #ff006e;
    --fundo-branco: #fff;
    
}




.border a:hover:not(.ultimo-a){
  background: var(--fundo-branco);
  border-radius: 10px;
}

#logo {  
  height: 160px;
  width: 160px;

}

#header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);  
  transition-duration: .3s;
  transition-timing-function: ease;
}

#header a {
  color: var(--texto-menu);
  text-decoration: none;
  font-family: sans-serif;
  
}



footer {
  border: 2px solid var(--fundo-branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--fundo);
  padding: 30px;
  
}

footer a{
  color: var(--texto-menu);
  text-decoration: none;
  font-family: sans-serif;
}

footer img{
  
  width: 160px;
  height: 160px;
}

.contato {
  
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

.icones{
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
}

.icones a:not(:last-child){
  
  margin-right: 15px;
}

/* MEU HAMBURGER */

#menu {
 
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem;

}

#menu ul li a:nth-child(6){
    margin-left: 100px;
}

#btn-mobile {
  display: none;
}

#frame {
  width: 100%;
  min-height: 900px;
}

#conteudo {
  min-height: 600px;
  
}
#conteudo p{
 display: none;
  
}