img {
  border-radius: 6px;
}

.main {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.banner-faq {
  width: 100%;
}

.maximo {
  width: 80vw;
}

.main section {
  margin-bottom: 30px;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color2ThemeDark);
}

@media (max-width: 899px) {
  main {
    max-height: 14000px !important;
  }
  .row {
    margin: 0 auto;
  }
}
