*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario{
    padding: 20px;
    margin: 20px auto;
    width: 800px;
    min-height: 600px;
    border-radius: 6px;
    box-shadow: 0px 0 4px 0px rgba(0,0,0,.1);
    background-color: #fff;
    text-align: center;
    font-family: var(--fontText);
    font-size: var(--fontTamText);
    color: var(--color3ThemeDark);
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.cabecario h1{
    font-size: 25px;
    font-family: var(--fontText);
    text-align: start;
    padding-left: 35px;
}

.cabecario h5{
    font-size: 15px;
    font-family: var(--fontText);
    text-align: start;
    padding-left: 35px;
}
form input{
    text-align: start;
    
}
.cabecario #logo{
    width: 120px;
    height: 120px;
}

.input-group{
    flex-direction: column;
    display: block;
    padding: 30px;
    
}
textarea{
    width: 100%;
    margin-top: 10px;
    resize: none;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.1);
    background: var(--fundo-light);
}

textarea:focus{
    background-color: #fff;
}

.input-box input:not(#upload){
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.1);
}

.buttoes input:not(:first-child){
    margin-left: 10px;
}

input:focus{
    background-color: #fff !important;
    
}

.input-box label i{
    color: #0073ea;
}

input:not(#upload){
    border-radius: 4px;
    background-color: var(--fundo-light);
    font-weight: 600;
}

.buttoes input{
    padding: 5px;
    border-radius: 4px;
    border: none;
    transition: .3s;
    border: 1px solid rgba(0,0,0,0);
}
.buttoes input[type="submit"]{
    background-color: #0073ea !important;
    color: white !important;
    
}
.buttoes input:last-child:hover{
    background-color: rgba(0,0,255,.9) !important;
    
}

#valueSpan{
    font-size: 12px;
    font-style: italic;
    opacity: 1;
    text-align: start;   
    padding-bottom: 20px;
    display: block;
}


input[type="reset"]{
    background-color: rgba(249, 199, 132, .5) !important;
    transition: .3s !important;
    
}

input[type="reset"]:hover{
    background-color: #f9c784 !important;
    border: 1px solid blue !important;
    
}

#upload{
    display: none;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#file{
    display: flex;
    cursor:pointer;
}

#file label:hover{
    cursor:pointer;
}

#file i:hover{
    color: rgba(0,0,255,.9);
    
}

#email:invalid{
    border: 1px solid red;
}

form a{
    
    text-decoration: none;
    color: var(--texto-menu);
    font-weight: 600;

}


@media (max-width:830px) {
    .formulario{
        width: 600px;
    }
}
@media (max-width:640px) {
    .formulario{
        width: 400px;
    }
}
@media (max-width:440px) {
    .formulario{
        width: 400px;
        font-size: 14px;
    }
    h1{
        font-size: 16px;
    }
    h5{
        font-size: 12px;
    }
}
@media (max-width:360px) {
    .formulario{
        width: 300px !important;
        font-size: 12px !important;
    }
    h1{
        font-size: 12px !important;
    }
    h5{
        font-size: 10px !important;
    }
}