.conteudo {
  width: 100vw;
}
.conteudo section {
  margin: 0 auto;
  justify-content: space-between;
}

.conteudo img {
  width: auto;
  height: 320px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .conteudo div {
    display: block;
    margin-top: 20px;
  }
}
