@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --fontTamTitle: 38px;
  --fontTamText: 18px;
  --fontTitle: 'Fascinate', cursive, sans-serif;
  --fontText: 'Open Sans', sans-serif;
  --color1ThemeLigth: #7f96ff;
  --color2ThemeLigth: #e56399;
  --color3ThemeLigth: #ecebf3;
  --color1ThemeDark: #ffffff;
  --color2ThemeDark: #e56399;
  --color3ThemeDark: #333745;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

body {
  background-color: var(--color3ThemeLigth);
}

.title {
  text-align: center;
  font-size: var(--fontTamTitle);
  font-family: var(--font-f);
  color: var(--Titulos);
  font-weight: 700;
}

p {
  font-size: var(--fontTamText);
  font-family: var(--fontText);
  color: var(--color3ThemeDark);
  text-align: justify;
}

main .container-fluid {
  min-width: 360px !important;
  width: 860px !important;
  min-height: 400px !important;
}

.w-100 {
  border-radius: 10px !important;
}

.accordion button {
  color: var(--color2ThemeDark) !important;
  font-weight: bolder !important;
  font-family: var(--fontTamText) !important;
}

.accordion-body {
  color: var(--color3ThemeDark);
  font-family: var(--fontText);
  font-size: var(--fontTamText);
  text-align: justify;
}

.accordion-body a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color2ThemeDark);
}
.accordion-body a:hover {
  border-bottom: 1px solid var(--color3ThemeDark);
}

#mae {
  border-radius: 6px;
  max-width: 300px;
  height: fit-content;
  text-align: center !important;
}

#maeparamae {
  border-radius: 6px;
  max-width: 100%;
}

#video {
  margin: 30px 0;
}

@media (max-width: 800px) {
  .title {
    margin-top: 32px;
    font-size: 26px;
  }
  #mae {
    display: block !important;
    margin: 0 auto;
    width: 200px;
  }
  #video {
    width: 300px;
    height: 200px;
    margin: 30px 0;
  }
}
