/* MEU HAMBURGER */

#menu {
  
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 0.5rem;
  }
  
  #menu ul li a:nth-child(6){
      margin-left: 400px;
  }
  
  #btn-mobile {
    display: none;
  }