img{
    border-radius: 6px;
}

.main{
    display: block !important;
    
}

.main section{
    margin-bottom: 30px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color2ThemeDark);
}

@media (max-width:850px) {
    main{
        max-height: 1400px !important;
    }
    .row{
        display: block;
    }
}